@charset "utf-8";
@import './reset.css';

/* Colours */
:root {
  --primary-bg-colour: rgb(255, 255, 255);
  --primary-border-colour: rgb(179, 179, 179);
  --primary-hero-colour: rgba(255, 255, 255, 0.8);
  --hero-border-colour: rgb(187, 187, 187);
  --primary-text-colour: rgb(0, 255, 0);
  --primary-link-hover: rgb(0, 200, 0);
  --secondary-text-colour: rgb(70, 70, 70);
  --dark-mode-border: rgb(230, 230, 230);
  --dark-mode-colour: rgb(240, 240, 240);
  --dark-mode-text: rgb(0, 0, 0);
  --dark-mode-hover: rgb(200, 200, 200);
}

/* Formatting */
.container {
  width: min(100% - 100px, 1080px);
  margin-inline: auto;
}

* { transition: all 0.2s ease-in-out; }

/* Header */
header {
  display: flex;
  padding: 10px 30px;
  height: 75px;
  line-height: 55px;
  justify-content: space-between;
  background-color: var(--primary-bg-colour);
  color: var(--primary-text-colour);
  border-bottom: 1px solid var(--primary-border-colour);
  box-shadow: 1px 1px 2px var(--primary-border-colour);
  a {
    text-decoration: none;
    h1 { color: var(--primary-text-colour); }
    h1:hover { color: var(--primary-link-hover); }
  }
  a:hover { color: var(--primary-link-hover); }
  nav ul { 
    list-style: none;
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    a { 
      color: var(--primary-text-colour);
      line-height: 60px;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none; 
    }
   }
}

#options {
  font-size: 25px;
  cursor: pointer;
}

#options:hover {
  rotate: 90deg;
}

/* Pop-up */
#pop-up-modal {
  visibility: hidden;
  opacity: 0;
  background-color: var(--primary-bg-colour);
  border: 1px solid var(--primary-border-colour);
  box-shadow: 1px 1px 2px #c5c5c5;
  height: 350px;
  width: 600px;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: fixed;
  top: 47.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-modal {
  user-select: none;
  font-weight: 750;
  border: 1px solid var(--primary-border-colour);
  border-radius: 5px;
  background-color: var(--primary-border-colour);
  color: var(--primary-bg-colour);
  border-color: var(--dark-mode-border);
  font-size: 20px;
  width: 30px;
  height: 30px;
  float: right;
  text-align: center;
  line-height: 25px;
  margin-left: auto;
}

#close-modal:hover { 
  cursor: pointer; 
  background-color: var(--dark-mode-hover);
  border-color: var(--dark-mode-border);
}

.options-box {
  width: 500px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.options-choice {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-mode-text);
}

.options-choice label { 
  font-size: 20px;
  font-weight: 500;
 }

#dark-mode {
  padding: 5px;
  width: 50px;
  background-color: var(--dark-mode-colour);
  border: 1px solid var(--dark-mode-border);
  color: var(--dark-mode-text);
  border-radius: 10px;
  /* margin-right: 30px; */
}

#dark-mode:hover { scale: 1.08; }

/* Hero Banner */
.hero-banner {
  position: relative;
  height: calc(100svh);
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  background-color: #c5c5c5;
  border-bottom: 1px solid var(--primary-border-colour);
}

.hero-text {
  border: 1px solid var(--hero-border-colour);
  box-shadow: 1px 1px 2px var(--hero-border-colour);
  background-color: var(--primary-hero-colour);
  color: var(--secondary-text-colour);
  border-radius: 5px;
  padding: 100px;
  margin-top: -150px;
  h2 { font-size: 50px; }
  p { font-size: 20px; }
}

/* About Me */
.about {
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-colour);
  h3 {
    margin-bottom: 30px;
    color: var(--primary-text-colour);
    font-weight: 700;
    font-size: 40px;
  }
  p { font-size: 20px; }
  p + p { margin-top: 20px; }
}

/* Contact Me */

/* Footer */
footer {
  height: 150px;
  width: 100%;
  background-color: var(--primary-bg-colour);
  border-top: 1px solid var(--primary-border-colour);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.footer-icon {
  font-size: 50px;
  color: var(--primary-text-colour);
}

.footer-icon:hover { color: var(--primary-link-hover); }