@charset "utf-8";
@import './reset.css';

/* Formatting */
.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

* { transition: all 0.2s ease-in-out; }

/* Header */
header {
  display: flex;
  margin: 10px;
  height: 75px;
  line-height: 75px;
  justify-content: space-between;
}

#options {
  font-size: 25px;
  cursor: pointer;
}

/* Pop-up */
#pop-up-modal {
  visibility: visible;
  opacity: 0;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 1px 1px 2px #c5c5c5;
  height: 300px;
  width: 600px;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#close-modal {
  user-select: none;
  font-weight: 750;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #c5c5c5;
  font-size: 20px;
  width: 30px;
  height: 30px;
  float: right;
  text-align: center;
  line-height: 25px;
  margin-left: auto;
}

#close-modal:hover { 
  cursor: pointer; 
  background-color: gray;
  border-color: black;
}

.options-box {
  width: 500px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.options-choice {
  width: 100%;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}

#dark-mode {
  padding: 5px;
  width: 50px;
  border-radius: 10px;
  margin-right: 30px;
}

/* Hero Banner */
.hero-banner {
  position: relative;
  height: calc(100svh - 250px);
  display: flex;
  align-items: center;
  justify-content: center; 
  text-align: center;
  background-color: #c5c5c5;
}

.hero-text {
  border: 1px solid black;
  padding: 10px;
  h2 { font-size: 50px; }
  p { font-size: 18px; }
}

/* About Me */

/* Contact Me */

/* Footer */
footer {
  height: 150px;
  width: 100%;
  background-color: black;
}